<%- include('includes/head'); %>

<body>
    <section class="container">
        <h1>
            <% if(typeof titulo !== 'undefined') { %><!--Se o titulo nao for undefined-->
                <%= titulo %><br> <!--vai aparecer igual esta no titulo-->
                <%- titulo %><!--vai aparecer com titulo em red (escapa a tag)-->
            <% } else { %><!--Senao, nao foi enviado (for undefined)-->
                o Título não foi enviado.
            <% } %>
        </h1>

        <h2>
            <% numeros.forEach(num => { %>
                <%= num %>,
            <% }); %><br>
        </h2>

        <h2>
            <% for(let i=0; i < numeros.length; i++) { %>
                <%= numeros[i] %>,
            <% }; %>
        </h2>

        <h3><%= umaVariavelLocal %></h3><!--vai aparecer em todos os locais (middlewares nao foi definido a rota)-->

        <form action="/" method="post">
            <label>Cliente</label>
            <input type="text" name="cliente">
            <button>Submit</button>
        </form>
    </section>

<%- include('includes/footer'); %>