<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

      <div class="col-lg-8 my-3">
        <h1 class="text-center">AGENDA</h1>
        <p class="text-center lead text-primary">Seus contatos estão abaixo</p>

        <%- include('includes/messages') %>

        <% if(contatos.length > 0) { %>
          <div class="responsive-table">
            <table class="table my-3">
              <tr class="table-primary text-center">
                <td><strong>NOME</strong></td>
                <td><strong>SOBRENOME</strong></td>
                <td><strong>TELEFONE</strong></td>
                <td><strong>E-MAIL</strong></td>
                <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                </svg></td>
                <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg></td>
              </tr>
              <% contatos.forEach(contato => { %>
                <tr class="table-secondary text-center">
                  <td><%= contato.nome %></td>
                  <td><%= contato.sobrenome %></td>
                  <td><%= contato.telefone %></td>
                  <td><%= contato.email %></td>
                  <td><a href="/contato/index/<%= contato._id %>">Editar</a></td>
                  <td><a class="text-danger" href="/contato/delete/<%= contato._id %>">Excluir</a></td>
                </tr>
              <% }); %>
            </table>
          </div>
        <% } else { %>
          <p class="text-center lead">Não existem contatos na sua agenda.</p>
        <% } %>

      </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
